html{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #00B77B;
  font-family: monospace;
}
body{
  font-size: 1.5rem;
  background-color:#00D08C;
  height:85vw;
  width:85vw;
  border: 1rem solid #00B77B;
  border-radius: 25%;
  background-image: url("Play.webp");
  background-size: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  animation: boom 2s ease-in-out infinite;
}
@keyframes boom{
  50%{
    transform: scale(0.95);
    background-size: 40vh;
    border-width: 2rem;
  }
}
@media (orientation:landscape){
  body{
    height:75vh;
    width:75vh;
  }
}